.nav-container {
  background-color: #0f1724;
  &_logo {
    align-items: center;
    justify-content: space-between;
  }
  &_list {
    gap: 1.5rem;
  }  
}
.btn-add-expensive {
  background-color: #00bcd4;
  /* top: 1rem;
  right: -88vw; */
  padding: 1rem;
  border-radius: 50%;
}
.btn-add-expensive span {
  font-size: 1.5rem;
}