.nav-container {
  background-color: #5853bc;
  &_logo {
    align-items: center;
    // justify-content: center;
    gap: 1.5rem;
    h3 {
      color: var(--active-color);
    }
  }
  &_list {
    gap: 1.5rem;
  }
  svg {
    color: #ffffff;
  }
}
.btn-add-expense {
  background-color: #ae8cfa;
  /* top: 1rem;
  right: -88vw; */
  padding: 1rem;
  border-radius: 50%;
}
.btn-add-expense span {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .nav-container_logo {
    .btn-add-expense {
      left: 50%;
      transform: translateX(-50%);
      /* width: 2.25rem;
      height: 2.25rem; */
    }
    h3 {
      text-align: center;
    }
  }
}

@media screen and (max-width: 680px) {
  .btn-add-expense {
    width: 2.25rem;
    height: 2.25rem;
  }
}
