li {
  a,
  button {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.2s ease;
    cursor: pointer;
    &:hover {
      color: var(--active-color);
    }
  }
  button {
    background: none;
  }
  h2,
  h3,
  span {
    font-weight: 400;
    font-size: 1rem;
  }
}
