.page-container {
  display: flex;
  user-select: none;
  // padding: 10rem 2rem;
<<<<<<< HEAD
  /* .btn-add-expense {
    background-color: #ae8cfa;
=======
  /* .btn-add-expensive {
    background-color: #00bcd4;
>>>>>>> origin/expense-app
    top: 1rem;
    // left: -2rem;
    right: 2rem;
    padding: 1rem;
    border-radius: 50%;
  }
<<<<<<< HEAD
  .btn-add-expense span {
=======
  .btn-add-expensive span {
>>>>>>> origin/expense-app
    font-size: 1.5rem;
  } */
}
