.page-container {
  display: flex;
  user-select: none;
  // padding: 10rem 2rem;
  /* .btn-add-expensive {
    background-color: #00bcd4;
    top: 1rem;
    // left: -2rem;
    right: 2rem;
    padding: 1rem;
    border-radius: 50%;
  }
  .btn-add-expensive span {
    font-size: 1.5rem;
  } */
}
