.form-container {
  /*  position: relative;
  top: -11vh; */
  background-color: #0f1724;
  color: #ffffff;
  /* padding: 3rem 2rem; */
  border-radius: 0.6rem;
  box-shadow: -1px 5px 35px -8px #080707;
  z-index: 100;
  border: none;
}
.animate__fadeIn.active {
  display: flex;
}

input,
select {
  color: #ffffff;
}
.form-container:is(label) {
  font-size: 0.75rem;
}
.expense-input[type="date"]::placeholder {
  left: 1rem;
}
.expense-input[type="date"]:focus::placeholder {
  display: none;
}
.expense-input[type="text"] {
  caret-color: #ae8cfa;
  padding-bottom: 1rem;
  left: 1rem;
  border-bottom: 1px solid;
  /* padding-left: 1rem; */
  /* background-color: #eaeaea; */
}

.expense-input[type="text"]:focus,
.expense-select,
.expense-select:focus {
  background-color: transparent;
}

.btn-submit {
  font-size: 1rem;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 9999px;
  /* border: 1px solid #ae8cfa; */
  /* background-color: transparent; */
  background: linear-gradient(283deg, #ae8cfa, #746cfe);
  color: #fefaff;
}
/* ::-webkit-calendar-picker-indicator {
  filter: invert(1);
} */
input::-webkit-calendar-picker-indicator {
  filter: invert(0.6);
}
ul[role="listbox"] {
  top: 0 !important;
  outline: none;
  border: none;
}
ul[role="listbox"] li {
  background: transparent;
}

ul[role="listbox"] li:hover {
  background-color: #ae8cfa54;
}
/* Handle */
ul::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #455964a6;
}

@media screen and (max-width: 568px) {
  .tw-dialog {
    max-width: 80%;
    width: 80%;
  }
}
