.tab-container {
  color: #ffffff;
}
.tab-index {
  position: relative;
}
.tab-content {
  position: absolute;
  /* width: 40%; */
}

.active-border {
  border-color: #ae8cfa;
  color: #ae8cfa;
}
.tab-container button:not(:is(.active-border)) {
  opacity: 0.4;
  border-color: #aff7ffa3;
}
.tab-content ul {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}
.animate__fadeOut {
  visibility: hidden;
}
p.category {
  position: relative;
}

p.category::before {
  content: "";
  height: 2.4rem;
  width: 1px;
  position: absolute;
  top: 0.35rem;
  left: -0.5rem;
}
p.amount {
  color: #bab8c3;
}
p.description {
  /* font-size: 0.9rem; */
  color: #a7a2f3a1;
}

/* style of category text */
p.food {
  color: var(--food-category);
}
p.food::before {
  background-color: var(--food-category);
}
p.shopping {
  color: var(--beverage-category);
}
p.shopping::before {
  background-color: var(--beverage-category);
}
p.pet {
  color: var(--pet-category);
}
p.pet::before {
  background-color: var(--pet-category);
}
p.phone {
  color: var(--phone-category);
}
p.phone::before {
  background-color: var(--phone-category);
}
p.household {
  color: var(--household-category);
}
p.household::before {
  background-color: var(--household-category);
}
p.bills {
  color: var(--bills-category);
}
p.bills::before {
  background-color: var(--bills-category);
}
p.education {
  color: var(--education-category);
}
p.education::before {
  background-color: var(--education-category);
}
p.entertainment {
  color: var(--entertainment-category);
}
p.entertainment::before {
  background-color: var(--entertainment-category);
}
p.heath {
  color: var(--heath-category);
}
p.heath::before {
  background-color: var(--heath-category);
}
p.travel {
  color: var(--travel-category);
}
p.travel::before {
  background-color: var(--travel-category);
}
p.transportation {
  color: var(--transportation-category);
}
p.transportation::before {
  background-color: var(--transportation-category);
}
p.others {
  color: var(--other-category);
}
p.others::before {
  background-color: var(--other-category);
}
